{% extends 'dashboard/index.html' %}
{% block content %}

<div style="padding-top: 3em;background-color: aqua;padding-bottom: 2em;">

    <form action="" method="GET" style="font-size: 1.2em;"> 
        {% csrf_token %}
        <label for="bank" >Select Hospital: </label> <select name="hospital" >
          {% for i in hospitals %}
          <option value="{{i.center_name}}" name="hospital">{{i.center_name}}</option>
          {% endfor %}
      </select>
        
        <input type="submit" value='SEARCH'>
    
    </form>
    
    
    
    
    </div>

    
<div class="table-responsive table-shadow" style="background-color: bisque;margin-left: 2em;margin-right: 2em;margin-top: 1em;">
    <h1>Labs</h1>
    {% if lab %}
    <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Lab Name</th>
              <th scope="col">Location</th>
              <th scope="col">Lab District</th>
              <th scope="col">Lab Pincode</th>
              <th scope="col">Lab Availability</th>
              <th scope="col">Phone</th>
              
              
            </tr>
          </thead>
          <tbody>
              {% for i in lab %}
            <tr style="background-color: #d9a3a3;">

              <td>{{ i.lab_name}}</td>
              <td>{{ i.loaction}} </td>
              <td>{{ i.lab_district}} </td>
              <td>{{ i.lab_pincode}} </td>
              <td>{{ i.lab_avilability}} </td>
              <td>{{ i.phonenumber}} </td>
              
              


             
            </tr>

            {% endfor %}

          </tbody>

    </table>
    {% else %}

    <span>No Details can be found...</span>
    {% endif %}

</div>


   
<div class="table-responsive table-shadow" style="background-color: bisque;margin-left: 2em;margin-right: 2em;margin-top: 1em;">
    <h1>Doctors</h1>
    {% if doctors %}
    <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Name</th>
              <th scope="col">Phone Number</th>
              <th scope="col">Qualification</th>
              <th scope="col">Address</th>
              <th scope="col">Doctor Availability</th>
              <th scope="col">Online Availability</th>
              
              
            </tr>
          </thead>
          <tbody>
              {% for i in doctors %}
            <tr style="background-color: #d9a3a3;">

              <td>{{ i.name}}</td>
              <td>{{ i.phonenumber}} </td>
              <td>{{ i.qualification}} </td>
              <td>{{ i.address}} </td>
              <td>{{ i.doctor_avilability}} </td>
              <td>{{ i.online_avilable}} </td>
              
              


             
            </tr>

            {% endfor %}

          </tbody>

    </table>
    {% else %}

    <span>No Details can be found...</span>
    {% endif %}

</div>


 
<div class="table-responsive table-shadow" style="background-color: bisque;margin-left: 2em;margin-right: 2em;margin-top: 1em;">
    <h1>Beds</h1>
    
    <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Total Beds</th>
              <th scope="col">Free Beds</th>
              <th scope="col">Occupied Beds</th>
              <th scope="col">Oxygen Beds</th>
              <th scope="col">With Out Oxygen</th>
             
              
              
              
            </tr>
          </thead>
          <tbody>
              
            <tr style="background-color: #d9a3a3;">
               
              <td>{{ total_beds}}</td>
              <td>{{free_beds}}</td>
              <td>{{occupied_beds}}</td>
              <td>{{oxygen_beds}}</td>
              <td>{{without_oxygen_beds}}</td>
              
            
              
              
              


             
            </tr>

          

          </tbody>

    </table>
   
</div>



<div class="table-responsive table-shadow" style="background-color: bisque;margin-left: 2em;margin-right: 2em;margin-top: 1em;">
  <h1>Bed Numbers</h1>
  
  <table class="table">
        <thead>
          <tr>
            <!-- <th scope="col">#</th> -->
            <th scope="col">Ventilator No</th>
            <th scope="col">Ward Beds</th>
            <th scope="col">Icu Beds</th>
            <th scope="col">Room Beds</th>
           
           
            
            
            
          </tr>
        </thead>
        <tbody>
         
          <tr style="background-color: #d9a3a3;">
            
            <td>{{ ventilator_beds}}</td>
            <td>{{ward_beds}}</td>
            <td>{{icu_beds}}</td>
            <td>{{room_beds}}</td>
          
            
          
            
            
            


           
          </tr>
         

        

        </tbody>

  </table>
 
</div>




<div class="table-responsive table-shadow" style="background-color: bisque;margin-left: 2em;margin-right: 2em;margin-top: 1em;">
    <h1>Todays Report</h1>
    
    <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Today Positive</th>
              <th scope="col">Negative Cases</th>
              <th scope="col">Death Cases</th>
              <th scope="col">Male</th>
              <th scope="col">Female</th>
              
              
              
            </tr>
          </thead>
          <tbody>
              
            <tr style="background-color: #d9a3a3;">
               
              <td>{{ today_positive}}</td>
              <td>{{today_negative}}</td>
              <td>{{today_death}}</td>
              <td>{{tp_male}}</td>
              <td>{{tp_female}}</td>
            
              
              
              


             
            </tr>

          

          </tbody>

    </table>
   
</div>


<div class="table-responsive table-shadow" style="background-color: bisque;margin-left: 2em;margin-right: 2em;margin-top: 1em;padding-bottom: 3em;">
    <h1>Till Now Cases</h1>
    
    <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Total Positive Cases</th>
              <th scope="col">Total Negative Cases</th>
              <th scope="col">Death Cases</th>
              <th scope="col">Male</th>
              <th scope="col">Female</th>
              
              
              
            </tr>
          </thead>
          <tbody>
              
            <tr style="background-color: #d9a3a3;">
               
              <td>{{ total_positive_cases}}</td>
              <td>{{total_negative_cases}}</td>
              <td>{{total_death}}</td>
              <td>{{total_male}}</td>
              <td>{{total_female}}</td>
            
              
              
              


             
            </tr>

          

          </tbody>

    </table>
   
</div>


{% if user.dmo %}


  
<div class="table-responsive table-shadow" style="background-color: bisque;margin-left: 2em;margin-right: 2em;margin-top: 1em;">
    <h1>Patient Details</h1>
    {% if dmo_view_patients %}
    <table class="table">
          <thead>
            <tr>
              <!-- <th scope="col">#</th> -->
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Aadhar</th>
              <th scope="col">Age</th>
              <th scope="col">Gender</th>
              <th scope="col">Phone</th>
              <th scope="col">House Name</th>
              <th scope="col">Patient Status</th>
              
              
            </tr>
          </thead>
          <tbody>
              {% for i in dmo_view_patients %}
            <tr style="background-color: #d9a3a3;">

              <td>{{ i.id}}</td>
              <td>{{ i.patient.name}} </td>
              <td>{{ i.patient.email}} </td>
              <td>{{ i.patient.adhar}} </td>
              <td>{{ i.patient.age}} </td>
              <td>{{ i.patient.gender}} </td>
              <td>{{ i.patient.phone}} </td>
              <td>{{ i.patient.house_name}} </td>
              <td>{{ i.patient.patient_status}} </td>
              
              


             
            </tr>

            {% endfor %}

          </tbody>

    </table>
    {% else %}

    <span>No Salary can be found...</span>
    {% endif %}

</div>




{% endif %}

    {% endblock %}