{% extends 'dashboard/index.html' %}
{% block content %}

			<div id="page-wrapper">
				<div class="graphs">
					<h3 class="blank1">Home</h3>
					 <div class="xs tabls">
						<div class="bs-example4" data-example-id="contextual-table">
                            <table class="table">
                                {% if c %}
                                <thead>
                                    <tr>
                                      <th>Name</th>
                                      <th>Athority Type</th>
                                       <th>Athority Name</th>
                                       <th>Ward No</th>
                                       <th>Village</th>
                                       <th>Pincode</th>
                                       <th>Phonenumber</th>
                                       
                                        <th>Approval Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for l in c %}
                                    <tr>
                                        <td>{{l.name}}</td>
                                        <td>{{l.authority_type}}</td>
                                        <td>{{l.authority_name}}</td>
                                        <td>{{l.ward_no}}</td>
                                        <td>{{l.village}}</td>
                                        <td>{{l.pincode}}</td>
                                        <td>{{l.phonenumber}}</td>
                                       
                                     {% if l.status_appruval == True %}
                                        <td>Approved</td>
                                        {% else %}
                                        
                                        <td><a href="{% url 'homeappruval' l.id %}" style="color: red;">Approve Now</a></td>
        
                                        {% endif %}
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                            <h4>No Centers Registerd For appruval</h4>
                            {% endif %}
                                  
					   </div>
					   
						</div><!-- /.table-responsive -->
						</div>
					</div>
				</div>
			</div>
           
		</div>
   
		{% endblock %}