{% extends 'dashboard/index.html' %}
{% block content %}

<div style="padding-top: 3em;background-color: aqua;padding-bottom: 2em;">

    <form action="" method="POST" style="font-size: 1.2em;"> 
        {% csrf_token %}
        <label for="patient">Choose a patient:</label>

        <select name="patient" id="patient">
            {% for i in patients %}
        <option value="{{i.id}}">{{i.patient}}</option>
        {% endfor %}
        
        </select><br>
        <label for="content">Chat Content</label>
        <input type="text" name="chat" >

        
        <input type="submit" value='POST'>
    
    </form>
    
    
    
    
    </div>


    {% endblock %}