<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
{% include 'nav.html' %}
  <!--/header-->
 <!-- breadcrumb -->
<section class="w3l-about-breadcrumb text-center">
  <div class="breadcrumb-bg breadcrumb-bg-about py-5">
      <div class="container py-lg-5 py-md-4">
        <div class="w3breadcrumb-gids">
          <div class="w3breadcrumb-left text-left">
                    <h2 class="title AboutPageBanner">
                  Services  </h2>
                              <p class="inner-page-para mt-2">
                                Prevent the Spread
                                Stay at Home, Stay Safe             </p>
          </div>
          <div class="w3breadcrumb-right">
                <ul class="breadcrumbs-custom-path">
                  <li><a href="index.html">Home</a></li>
                  <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Services</li>
                </ul>
          </div>
    </div>
      </div>
      <div class="hero-overlay"></div>
  </div>
</section>
<!--//breadcrumb-->
  <!--/services-->
  <section class="w3l-services2" id="services">
    <div id="cwp23-block" class="py-5">
      <div class="container py-lg-5">
        <div class="row cwp23-content mt-lg-5 mt-4">
          <div class="col-lg-6 cwp23-img">
            <h5 class="title-subw3hny mb-1">Be carefull &amp; Stay Safe</h5>
            <h3 class="title-w3l">Treatment for corona virus</h3>
            </h3>
            <p class="mt-4">Sed in metus libero. Sed volutpat eget dui ut tempus. Fusce fringilla tincidunt laoreet
              Morbi ac metus vitae diam scelerisque malesuada eget eu mauris.Cras varius lorem ac velit pharetra.

            </p>
            <p class="mt-4">Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio consectetur adipisicing
              elit. Cras varius lorem ac velit pharetra, non scelerisque mi vulputate. Phasellus bibendum.</p>
            <div class="w3l-button mt-lg-5 mt-4">
              <a href="services.html" class="btn btn-style btn-primary mt-2">Read More </a>
            </div>
          </div>
          <div class="col-lg-6 cwp23-text mt-lg-0 mt-5 pl-lg-5">
            <div class="cwp23-text-cols row">
              <div class="column col-6">
                <a href="#"><img src="/static/assets/images/b1.jpg" alt="" class="radius-image img-fluid"></a>
              </div>
              <div class="column col-6">
                <a href="#"><img src="/static/assets/images/b2.jpg" alt="" class="radius-image img-fluid"></a>
              </div>
              <div class="column col-6 mt-4">
                <a href="#"><img src="/static/assets/images/b3.jpg" alt="" class="radius-image img-fluid"></a>
              </div>
              <div class="column col-6 mt-4">
                <a href="#"><img src="/static/assets/images/b4.jpg" alt="" class="radius-image img-fluid"></a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--//services-->
 <!-- features-section -->
 <section class="w3l-features py-5" id="work">
  <div class="container py-lg-5 py-md-4 py-2">
        <h5 class="title-subw3hny text-center">How to Protect Yourself?</h5>
        <h3 class="title-w3l mb-5 text-center">Prevention & Advice</h3>
          <div class="main-cont-wthree-2 align-items-center">
          <div class="services-page mt-lg-0 mt-md-5 mt-4">
              <div class="call-grids-w3 d-grid">
                  <div class="grids-1 box-wrap">
                      <div class="icon">
                          <i class="fas fa-people-arrows"></i>
                      </div>
                      <h4><a href="about.html" class="title-head">Avoid Close Contact</a></h4>
                      <p class="mt-3">Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio.</p>
                    </div>
                  <div class="grids-1 box-wrap">
                      <div class="icon">
                          <i class="fas fa-theater-masks"></i>
                      </div>
                      <h4><a href="about.html" class="title-head">Don’t Touch Face</a></h4>
                      <p class="mt-3">Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio.</p>
                    </div>
                  <div class="grids-1 box-wrap">
                      <div class="icon">
                          <i class="fas fa-people-arrows"></i>
                      </div>
                      <h4><a href="about.html" class="title-head">Social Distancing</a></h4>
                      <p class="mt-3">Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio.</p>
                    </div>
                  <div class="grids-1 box-wrap">
                      <div class="icon">
                          <i class="fas fa-hands-wash"></i>
                      </div>
                      <h4><a href="about.html" class="title-head">Wash Your Hands</a></h4>
                      <p class="mt-3">Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio.</p>
                    </div>
                  <div class="grids-1 box-wrap">
                    <div class="icon">
                        <i class="fas fa-hand-holding-water"></i>
                    </div>
                    <h4><a href="about.html" class="title-head">Drink Much Watar</a></h4>
                    <p class="mt-3">Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio.</p>
                  </div>
                <div class="grids-1 box-wrap">
                  <div class="icon">
                      <i class="fas fa-mask"></i>
                  </div>
                  <h4><a href="about.html" class="title-head">Use Face Mask</a></h4>
                  <p class="mt-3">Lorem ipsum dolor sit amet,Ea sed illum facere aperiam sequi optio.</p>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- features section -->
  <!--/w3l-services3-->
  <section class="w3l-services3 py-5">
      <div class="container py-lg-5 py-4">
        <div class="section-width">
          <h5 class="title-subw3hny">Protect yourself</h5>
          <h3 class="title-w3l mb-3 pr-lg-5 mr-lg-5">Life doesn’t get easier or more forgiving, we get stronger and more resilient.</h3>
        </div>
        <div class="row">
        <div class="col-lg-7 middle-section">
         
          <div class="link-list-menu">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla non ipsum soluta
              perferendis
              veniam qui esse magnam commodi quisquam vitae labore nemo at voluptatem, totam, minima recusandae
              assumenda.</p>
              <div class="w3l-two-buttons">
                <a href="#" class="btn btn-primary btn-white btn-style mt-lg-5 mt-4"> Read More </a>
                <a href="#" class="btn btn-style btn-outline-dark mt-lg-5 mt-4 ml-sm-3">Read More </a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 middle-right mt-lg-0 mt-4">
            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla non ipsum soluta
              perferendis
              veniam qui esse magnam commodi quisquam vitae labore nemo at voluptatem, totam, minima recusandae
              assumenda.</p>
            </div>
        </div>
      </div>
  </section>
  <!--//w3l-services3-->
<!--/footer-->
{% include 'footer.html' %}
</body>

</html>