<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
		<!-- main content start-->
		<div class="main-content">
			<!-- header-starts -->
			<div class="header-section">
			 
			<!--toggle button start-->
			<a class="toggle-btn  menu-collapsed"><i class="fa fa-bars"></i></a>
			<!--toggle button end-->

			<!--notification menu start -->
			<div class="menu-right">
				<div class="user-panel-top">  	
					<div class="profile_details_left">
						<ul class="nofitications-dropdown">
							
							<li class="login_box" id="loginContainer">
									
										<!-- search-scripts -->
										<script src="/static/dashboard/js/classie.js"></script>
										<script src="/static/dashboard/js/uisearch.js"></script>
											<script>
												new UISearch( document.getElementById( 'sb-search' ) );
											</script>
										<!-- //search-scripts -->
							</li>
								
							<div class="clearfix"></div>	
						</ul>
					</div>

					<div class="profile_details">		
						<ul>
							<li class="dropdown profile_details_drop">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<div class="profile_img">	
										{% if user.is_superuser %}
										<span style="background:url(/static/dashboard/images/1.jpg) no-repeat center"> </span> 
										 <div class="user-name">
											<p>{{user.username}}<span>Administrator</span></p>
											 
											{% elif user.center.center_type == 'Hospital' %}
											<span style="background:url({{user.center.center_photo.url}}) no-repeat center"> </span> 
										 	<div class="user-name">
											<p>{{user.center.center_name}}<span>Hospital</span></p>
											
											{% elif user.center.user_type == 'CSLTC' %}
											<span style="background:url({{user.center.center_photo.url}}) no-repeat center"> </span> 
										 	<div class="user-name">
											<p>{{user.center.center_name}}<span>CSLTC</span></p>
										
											{% elif user.center.user_type == 'CFLTC' %}
											<span style="background:url({{user.center.center_photo.url}}) no-repeat center"> </span> 
										 	<div class="user-name">
											<p>{{user.center.center_name}}<span>CFLTC</span></p>

											{% elif user.center.user_type == 'Domicile' %}
											<span style="background:url({{user.center.center_photo.url}}) no-repeat center"> </span> 
										 	<div class="user-name">
											<p>{{user.center.center_name}}<span>Domicile</span></p>

											{% elif user.lab.lab_type == 'private' %}
											<span style="background:url({{user.lab.photo_of_lab.url}}) no-repeat center"> </span> 
										 	<div class="user-name">
											<p>{{user.lab.lab_name}}<span>Lab</span></p>

											{% elif user.lab.lab_type == 'hospital' %}
											<span style="background:url({{user.lab.photo_of_lab.url}}) no-repeat center"> </span> 
										 	<div class="user-name">
											<p>{{user.lab.center.center_name}}<span>Lab</span></p>
											{% elif user.home %}
											<!-- <span style="background:url({{user.lab.photo_of_lab.url}}) no-repeat center"> </span>  -->
										 	<div class="user-name">
											<p>{{user.home.name}}<span>Home</span></p>

											{% elif user.dmo %}
											<!-- <span style="background:url({{user.lab.photo_of_lab.url}}) no-repeat center"> </span>  -->
										 	<div class="user-name">
											<p>{{user.dmo.name}}<span>DMO</span></p>

											{% elif user.doctor %}
											<span style="background:url({{user.doctor.doctor_photo.url}}) no-repeat center"> </span> 
										 	<div class="user-name">
											<p>{{user.dmo.name}}<span>Doctor</span></p>
											{% else %}
											<!-- <span style="background:url({{user.lab.photo_of_lab.url}}) no-repeat center"> </span>  -->
											<div class="user-name">
											<p>{{user.userregister.name}}<span>User</span></p>
											{% endif %}

										 </div>
										 <i class="lnr lnr-chevron-down"></i>
										 <i class="lnr lnr-chevron-up"></i>
										<div class="clearfix"></div>	
									</div>	
								</a>
								<ul class="dropdown-menu drp-mnu">
									{% if user.is_superuser %}
									<li> <a href="{% url 'signout' %}"><i class="fa fa-sign-out"></i> Logout</a> </li>
									{% elif user.center %}
									<li> <a href="{% url 'change_password' %}"><i class="fa fa-cog"></i> Settings</a> </li> 
									<li> <a href="{% url 'update_profile_center' %}"><i class="fa fa-user"></i>Profile</a> </li> 
									<li> <a href="{% url 'signout' %}"><i class="fa fa-sign-out"></i> Logout</a> </li>
									{% elif user.patient_register %}
									<li> <a href="{% url 'change_password' %}"><i class="fa fa-cog"></i> Settings</a> </li> 
									<li> <a href="{% url 'update_patient_register' %}"><i class="fa fa-user"></i>Profile</a> </li> 
									<li> <a href="{% url 'signout' %}"><i class="fa fa-sign-out"></i> Logout</a> </li>

									{% elif user.doctor %}
									<li> <a href="{% url 'change_password' %}"><i class="fa fa-cog"></i> Settings</a> </li> 
									<li> <a href="{% url 'update_doctor_profile' %}"><i class="fa fa-user"></i>Profile</a> </li> 
									<li> <a href="{% url 'signout' %}"><i class="fa fa-sign-out"></i> Logout</a> </li>
									{% elif user.home %}
									<li> <a href="{% url 'change_password' %}"><i class="fa fa-cog"></i> Settings</a> </li> 
									<li> <a href="{% url 'update_home_register' %}"><i class="fa fa-user"></i>Profile</a> </li> 
									<li> <a href="{% url 'signout' %}"><i class="fa fa-sign-out"></i> Logout</a> </li>
									{% elif user.userregister %}
									<li> <a href="{% url 'change_password' %}"><i class="fa fa-cog"></i> Settings</a> </li> 
									<li> <a href="{% url 'update_user_register' %}"><i class="fa fa-user"></i>Profile</a> </li> 
									<li> <a href="{% url 'signout' %}"><i class="fa fa-sign-out"></i> Logout</a> </li>
									
									{% elif user.lab %}
									<li> <a href="{% url 'change_password' %}"><i class="fa fa-cog"></i> Settings</a> </li> 
									<li> <a href="{% url 'update_profile_lab' %}"><i class="fa fa-user"></i>Profile</a> </li> 
									<li> <a href="{% url 'signout' %}"><i class="fa fa-sign-out"></i> Logout</a> </li>
									
									{% else %}
									<li> <a href="{% url 'change_password' %}"><i class="fa fa-cog"></i> Settings</a> </li> 
									<li> <a href="{% url 'update_dmo_register' %}"><i class="fa fa-user"></i>Profile</a> </li> 
									<li> <a href="{% url 'signout' %}"><i class="fa fa-sign-out"></i> Logout</a> </li>
									{% endif %}
								</ul>
							</li>
							<div class="clearfix"> </div>
						</ul>
					</div>		
					<div class="social_icons">
						{% for msg in messages %}{{msg}}{% endfor %}
						<!-- <div class="col-md-4 social_icons-left">
							<a href="#" class="yui"><i class="fa fa-facebook i1"></i><span>300<sup>+</sup> Likes</span></a>
						</div>
						<div class="col-md-4 social_icons-left pinterest">
							<a href="#"><i class="fa fa-google-plus i1"></i><span>500<sup>+</sup> Shares</span></a>
						</div>
						<div class="col-md-4 social_icons-left twi">
							<a href="#"><i class="fa fa-twitter i1"></i><span>500<sup>+</sup> Tweets</span></a>
						</div> -->
						<div class="clearfix"> </div>
					</div>            	
					<div class="clearfix"></div>
				</div>
			  </div>
			<!--notification menu end -->
			</div>
</body>
</html>